<footer id="footer">
  <div class="footer-content">
    <p>
      &copy; <%= new Date().getFullYear() %> 版权所有. 使用
      <a href="https://hexo.io" target="_blank" rel="noopener noreferrer"
        >Hexo</a
      >
      构建.
    </p>
    <p>
      @
      <a
        href="https://github.com/JiangCheng"
        target="_blank"
        rel="noopener noreferrer"
        >JiangCheng</a
      >.
    </p>
  </div>
</footer>
