<div id="header">
  <div class="menu">
    <% for (var key in theme.menu) { %>
    <div class="menu-item" data-url="<%= url_for(theme.menu[key]) %>">
      <span> <%- __(`menu.${key}`) %> </span>
    </div>

    <% } %>
  </div>
</div>
