.post-warp {
  width: 100vw;
  display: flex;
  height: 50vh;
  min-height: 450px;
  flex-wrap: nowrap;
  padding: 0 10vw 0;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
