/* theme.css */

/* 明亮主题变量 */
:root {
  --background: #ffffffff;
  --foreground: #181818ff;
  --primary: #1a1a1aff;
  --primary-foreground: #fafafaff;
  --secondary: #f2f2f2ff;
  --secondary-foreground: #1a1a1aff;
  --destructive: #e60000ff;
  --destructive-foreground: #fafafaff;
  --border: #e6e6e6ff;
  --ring: #1a1a1aff;
  --radius: 0.5rem;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* 导航栏 */
  --header-background: #ffffff99;
  --header-border: #54bbff;
  --menu-item-background: #ffffffff;
  --menu-item-color: #181818ff;
  --menu-item-hover-color: #54bbff;

  --background-line-1: linear-gradient(
    53deg,
    #1a2a20,
    #58625b,
    #9ea19e,
    #eae4e6
  );
  --hover-color-1: #54bbff;
}

/* 暗黑主题变量 */
[data-theme='dark'] {
  --background: #181818ff;
  --foreground: #f5f5f5ff;
  --primary: #1a1a1aff;
  --primary-foreground: #ffffff;
  --secondary: #282828ff;
  --secondary-foreground: #f5f5f5ff;
  --destructive: #ff5c5cff;
  --destructive-foreground: #ffffff;
  --border: #333333ff;
  --ring: #f5f5f5ff;
  --radius: 0.5rem;
  --shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

  /* 导航栏 */
  --header-background: #28282899;
  --header-border: #54bbff;
  --menu-item-background: #181818ff;
  --menu-item-color: #f5f5f5ff;
  --menu-item-hover-color: #54bbff;
}
